<nz-modal [nzVisible]="isOpen()" nzTitle="Assign Instructors" (nzOnCancel)="onModalCancel()"
          (nzOnOk)="onModalOk()">
  <ng-container *nzModalContent>
    <nz-table nzBordered #instructorTable [nzData]="instructors()" [nzLoading]="loading()" [nzPageSize]="10">
      <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Phone number</th>
        <th>Address</th>
      </tr>
      </thead>
      <tbody>
        @for (instructor of instructorTable.data; track instructor.uuid) {
          <tr>
            <td [nzChecked]="instructorUuids().has(instructor.uuid)"
                (nzCheckedChange)="onCheckedChange(instructor.uuid, $event)">
            </td>
            <td>{{ instructor.profile.name }}</td>
            <td>{{ instructor.profile.phoneNumber }}</td>
            <td>{{ instructor.profile.address }}</td>
          </tr>
        }
      </tbody>
    </nz-table>
  </ng-container>
</nz-modal>
