<nz-layout>
  <nz-header>
    <div class="app-container" nz-flex nzJustify="space-between" nzAlign="center">
      <div class="logo">
        <a routerLink="/">
          <img src="/logo.png" alt="logo"/>
          <h1 nz-typography>First Try or Tenth</h1>
        </a>
      </div>
      <nav>
        <ul nz-menu nzTheme="dark" nzMode="horizontal">
          @for (nav of appNavPaths; track nav.path) {
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="[nav.path]">
                {{ nav.label }}
                <nz-icon [nzType]="nav.icon || 'project'" nzTheme="fill"/>
              </a>
            </li>
          }
        </ul>
      </nav>
      <button class="logout" nz-button nzSize="small" nzType="dashed" nzDanger nzGhost (click)="onLogout()">Logout
      </button>
    </div>
  </nz-header>
  <nz-content class="app-container">
    <app-loader></app-loader>
    <nz-breadcrumb [nzSeparator]="iconTemplate" [nzAutoGenerate]="true">
    </nz-breadcrumb>
    <ng-template #iconTemplate>
      <nz-icon nzType="arrow-right"/>
    </ng-template>
    <div class="inner-content">
      <nz-page-header nzBackIcon (nzBack)="onBack()">
        <nz-page-header-title>
          {{ title() }}
        </nz-page-header-title>
        <nz-page-header-subtitle>{{ subtitle() }}</nz-page-header-subtitle>
      </nz-page-header>
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>First Try or Tenth - {{ date.getFullYear() }} - Engineered by <a href="https://felixherder.com">Felix
    Baciu</a></nz-footer>
</nz-layout>
