.app-container {
  max-width: 1280px;
  min-width: 720px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.btn-right-top {
  margin-left: auto;
  margin-top: -72px;
  margin-bottom: 42px;
}

.ant-page-header-heading-left {
  flex-wrap: wrap;
}


